# Face Crop Param
crop_face:
  face_width: 80
  output_size: 256
  scale: 0.8

# Artifact Detection Module.
adm_det:
  min_dim: 256
  aspect_ratios: [[1], [1], [1], [1]]
  feature_maps: [7, 5, 3, 1]
  steps: [32, 45, 75, 256]
  min_sizes: [40, 80, 120, 256]
  max_sizes: [80, 120, 160, 256]
  clip: True
  variance: [0.1]
  name: deepfake

# The Size of the Sliding Window.
sliding_win:
  prior_bbox: [[40, 80], [80, 120], [120, 160], [224, 224]]

# test data
dataset:
  img_path: "D:/zLiveness_data/Deepfake/out"
  ld_path: "D:/zLiveness_data/Deepfake/out/DeepfakeTIMIT.json"
  name: "test"

# model info
model:
  backbone: "resnet34"
  ckpt: "./checkpoints/epoch_760_best_0.004835828555074166.pkl"

# test params
test:
  batch_size: 1
